.container {
  width: 70%;
  margin: auto;
  font-family: 'Segoe UI';
  color: #333;
}

.title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #1e1e1e;
}

.question-item {
  border: 3px solid #ddd;
  border-radius: 12px;
  margin-top: 15px;
  box-shadow: 2px 6px rgba(0, 0, 0,0.1);
  padding: 15px 20px;
  font-size: 20px;
  transition: 0.3s;
}
.question-item:hover{
  box-shadow: 5px 15px rgba(0,0,0,0.2);
  transform: translateY(-3px);
}

.question-header {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}



.faq-toggle {
  width: 25px;
  height: 25px;
  border: none;
  background: #f0f0f0;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.faq-toggle.rotate {
  transform: rotate(90deg);
  background: #e0e0e0;
}

.ans {
  display: none;
  margin: 0px;
  padding-left: 30px;
  color: #555;
  
}

.ans.show {
  display: block;
}