*{
  padding 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: linear-gradient(135deg, #667eea, #764ba2);
  min-height: 100vh;
}


.form{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form .step{
  display: none;
}

.form .active{
  width: 360px;
  height: 400px;
  background: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  padding: 50px 35px;
  border: 1px solid black;
  border-radius: 16px;
  position: relative;
  box-shadow: 20px 40px rgba(0,0,0,0.2);
  animation: fadIn 0.5s ease;
}

@keyframes fadIn{
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to{
    opatity: 1;
    transform: translateY(0px);
  }
}

label, input, button{
  display: block;
}

label{
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

input{
  padding: 12px;
  border-radius: 10px;
  font-size: 20px;
  outline: none;
  border: 1px solid #ccc;
  transition: 0.3s;
}

input:focus{
  border-color: #5f8dee;
  box-shadow: 0 0 0 2px rgba(95, 141, 238, 0.2);
}

.next, .submit{
  width: 100px;
  padding: 12px;
  border-radius: 12px;
  background: #5f8dee;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.next:hover, .submit:hover{
  background: #4a78db;
}

.back{
  width: 100px;
  border-radius: 10px;
  color: #5f8dee;
  border: none;
  background: none;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  top: 18px;
  left: 20px;
  text-align: left;
}

.back:hover{
  text-decoration: underline;
}

.success{
  color: green;
  display: none;
  background: #fff;
  padding: 50px 40px;
  border-radius: 16px;
  box-shadow: 20px 40px rgba(0,0,0,0.2);
}

.success h1 {
  color: #2ecc71;
  font-size: 22px;
}