*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body{
  background: #f8f9fa;
}

.container{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 150px;
}


.container .search{
  width: 50%;
  min-width: 350px;  
}

h1{
  font-size: 90px;
  text-align: center;
  color: #4285f4;
  margin-bottom: 30px;
}

#searchInput{
  width: 100%;
  padding: 15px 25px;
  border-radius: 50px;
  font-size: 20px;
  border: 1px solid #ddd;
  outline: none;
  transition: 0.3s;
}

#searchInput:focus{
  border-color: transparent;
  box-shadow: 0 0 0 2px rgba(66, 133, 244, 0.3);
}

.content{
  max-height: 350px;
  margin-top: 10px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
   position: absolute;
  width: 50%;
  z-index: 10;
}

.content p{
  padding: 12px 20px;
  cursor: pointer;
  transition: 0.2s;
}

.content p:hover{
  background: #f1f3f4;
}