*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI';
}

body{
  background: #f5f5f5;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  max-width: 900px;
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.puppies-row,
.kittens-row {
  width: 100%;
  overflow: hidden;
  border-radius: 15px;
  background: #fff;
  padding: 10px 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.track{
  width: max-content;
  display: flex;
  gap: 15px;
  padding: 10px;
  animation: scroll linear infinite;
}




@keyframes scroll{
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-50%);
  }
}


.puppi,
.kitten{
  width: 80px;
  height: 80px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.5s ease;
  object-fit: cover;
}

.puppi:hover
,.kitten:hover{
  transform: scale(1.1);
  opacity: 50%;
}

#btn{
  padding: 10px 25px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  font-weight: bold;
  transition: 0.3s ease;
}

#btn:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.main-image{
  width: 100%;
  max-width: 600px;
  height: 350px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.9);
  background-color: #ddd;
}

#image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}