*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body{
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding-top: 30px;
}

.container{
  width: 600px;
  margin: auto;
}

.header{
  margin-bottom: 20px;

}

.header .head{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.header .head h1{
  color: #222;
}

.header .head input{
  width: 60%;
  padding: 6px;
  font-size: 16px;
  border: 1.5px solid #ccc;
  border-radius: 6px;
}

.btn{
  padding: 8px 16px;
  background: #222;
  color: white;
  border: none;
  cursor:pointer;
  font-size: 16px;
  border-radius: 6px;
  transition: 0.2s;
}

.btn:hover{
  background: #444;
}

.dics{
  padding: 20px;
  width: 100%;
  min-height: 300px;
  background: #fff;
  border: 2px solid #222;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.row{
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
}

.dice{
  width: 100%;
  aspect-ratio: 1/1;
  border: 2px solid #222;
  border-radius: 12px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.dot {
  width: 16px;
  height: 16px;
  background: black;
  border-radius: 50%;
  align-self: center;
  justify-self: center;
}