* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: #f4f6f8;

}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 300px;
  height: 300px;
  background: #fff;
  border: 8px solid #222;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.circle::after{
  content: "";
  width: 12px;
  height: 12px;
  background: #222;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.hours,
.minutes,
.seconds {
  background: black;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform-origin: bottom center;
}

.hours {
  width: 5px;
  height: 80px;
  background: #222;
  border-radius: 4px;
}

.minutes {
  width: 4px;
  height: 110px;
  background: #444;
  border-radius: 4px;
}

.seconds {
  width: 2px;
  height: 130px;
  background: #e63946;
  border-radius: 2px;
}