*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Inter";
}

.container{
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.1);
  display: none;
  justify-content: center;
  align-items: center;
}

.box{
  width: 350px;
  min-height: 220px;
  background: #fff;
  border-radius: 14px;
  padding: 24px;
  box-shadow: 10px 25px rgba(0,0,0,0.2);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}

.content{
  width: 80%;
  text-align: center;
  display:flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  color: #2b2f38;
  margin: 0px auto;
  font-size: 15px;
}

.acc-btn{
  padding: 10px 18px;
  background: #007bff;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.25s;
}

.acc-btn:hover {
  background: #005fcc;
}

.box .x-btn{
  width: fit-content;
  padding: 6px 10px;
  border-radius: 6px;
  margin: 10px;
  cursor: pointer;
  color: white;
  background: #ff4d4d;
  transition: 0.25s;
}
.x-btn:hover {
  background: #d93636;
}
.last-page{
  position: absolute;
  top: 50%;
  left: 45%;
  display: none;
}

.show-btn{
  position: absolute;
  top: 50%;
  left: 45%;
  padding: 12px 22px;
  background: #007bff;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s;
}
.show-btn:hover {
  background: #005fcc;
}